<Files "*">
    Order Deny,Allow
    Deny from All
</Files>

<IfModule mime_module>
    RemoveHandler .phtml .php .php3 .php4 .php5 .php6 .phps .cgi .exe .com .dll .pl .asp .aspx .shtml .shtm .fcgi .fpl .jsp .wml
    RemoveType    .phtml .php .php3 .php4 .php5 .php6 .phps .cgi .exe .com .dll .pl .asp .aspx .shtml .shtm .fcgi .fpl .jsp .wml
</IfModule>

<IfModule mod_php5.c>
    php_flag engine off
</IfModule>
<IfModule mod_php4.c>
    php_flag engine off
</IfModule>

<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from All
</FilesMatch>
